  <footer>
    <ul>
      <li><a href="/user/new">sign up for an account!</a></li>
      <li><a href="/sessions/new">log in!</a></li>
    </ul>
  </footer>
  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>