<%- include("./partials/head.ejs") %>
<!--partial has opening body nav and main tags-->
<div class="circle-container">
  <div class="circle-outer">
    <a href="/logs/new"><div class="index-link">new</div></a>
    <a href="/logs/history"><div class="index-link">log history</div></a>
    </div>
  </div>

</div>

<%- include("./partials/footer.ejs") %>