<%- include("./partials/head.ejs") %>
<!--partial has opening body nav and main tags-->
<div class="circle-container">
  <div class="circle-outer">
    <a href="/logs/new"><div class="index-link" id="home-1">new</div></a>
    <a href="/logs/history"><div class="index-link" id="home-2">log history</div></a>
  </div>
</div>


<span class="material-symbols-outlined">menu</span>
<%- include("./partials/footer.ejs") %>