<%- include("./partials/head.ejs") %>
<!--partial has opening body nav and main tags-->
<h1>INDEX PAGE</h1>
<div class="circle-container">
  <div class="circle-outer">
    <div class="circle-inner">
      
    </div>
  </div>

</div>

<%- include("./partials/footer.ejs") %>