<%- include("./partials/head.ejs") %>

<div class="circle-container-new">
  <div class="circle-outer-new">
    <h1 class="title-text">new mood</h1>
    <form action="/logs" class="new-form" method="POST">
      <span class="title-text">Name:</span> <input type="text" name="name" value="<%= currentUser.username %>" /><br />
      <span class="title-text">Date: </span><input type="date" name="date" /><br />
      <span class="title-text">Time: </span><input type="time" name="time" /><br />
      <span class="title-text">Mood (scale of 1 - 5): </span>
      <div class="radio-buttons-container">
        <div class="choice mood1">
          <label class="emoji-button"><input type="radio" id="mood1" name="mood" value="1" >
            <span class="emoji"> &#128552; </span></label> <!--sad emoji-->
          </div> 
        <div class="choice mood2">
          <label class="emoji-button"><input type="radio" id="mood2" name="mood" value="2" >
            <span class="emoji">&#128531; </span></label> <!--sweat emoji-->
          </div> 
        <div class="choice mood3">
          <label class="emoji-button"><input type="radio" id="mood3" name="mood" value="3" >
            <span class="emoji"> &#128528; </span></label> <!--flat blank emoji-->
          </div> 
        <div class="choice mood4">
          <label class="emoji-button"><input type="radio" id="mood4" name="mood" value="4" >
            <span class="emoji"> &#128522; </span></label> <!--smiley cheeks emoji-->
          </div> 
        <div class="choice mood5">
          <label class="emoji-button"><input type="radio" id="mood5" name="mood" value="5" >
            <span class="emoji"> &#128526; </span></label> <!--cool glasses emoji-->
          </div> 
      </div>
      <span class="title-text">Description: </span><textarea rows="10" cols="60" wrap="soft" name="description" autocomplete="off">  </textarea><br />
      <span class="title-text">Tags: </span><input type="text" name="tags" /><br />
      <span class="title-text">Color: </span><input type="color" name="color" /><br />
      <input type="submit" value="Publish Log" />
    </form>
  </div>

</div>
</main>
<aside>
  <div class="flex-container">
    <ul class="welcome-logout">
      <% if (currentUser) { %>
      <li>
        keep going, <%= currentUser.username %> 
      </li>
      <br/>
      <br/>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="log out" />
        </form>
      </li>
      <% } else { %>
        <li><a href="/user/new">sign up for an account!</a></li>
        <li><a href="/sessions/new">log in!</a></li>
      <% } %>
    </ul>
  </div>
</aside>
<%- include("./partials/footer.ejs") %>