<%- include("./partials/head.ejs") %>

<h1>NEW ROUTE</h1>
<div class="edit-flex-container">
  <form action="/logs" method="POST">
    Name: <input type="text" name="name" /><br />
    Date: <input type="datetime-local" name="date" /><br />
    Time: <input type="text" name="time" /><br />
    Mood (scale of 1 - 5):
    <div class="radio-buttons">
      <input type="radio" id="mood1" name="mood" value="1" />
      <label for="mood1"> &#128552; </label> <!--sad emoji-->
      <input type="radio" id="mood2" name="mood" value="2" />
      <label for="mood2"> &#128531; </label> <!--sweat emoji-->
      <input type="radio" id="mood3" name="mood" value="3" />
      <label for="mood3"> &#128528; </label> <!--flat blank emoji-->
      <input type="radio" id="mood4" name="mood" value="4" />
      <label for="mood4"> &#128522; </label> <!--smiley cheeks emoji-->
      <input type="radio" id="mood5" name="mood" value="5" />
      <label for="mood5"> &#128526; </label> <!--cool glasses emoji-->
    </div>
    Description: <input type="textarea" name="description" autocomplete="off" /><br />
    Tags: <input type="text" name="tags" /><br />
    <input type="submit" value="Publish Log" />
  </form>
</div>

<%- include("./partials/footer.ejs") %>