/* DECLARING CSS GLOBAL VARIABLES */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --background-deep: rgba(40,42,53,1);
  --dark-navy: #0f1644;
  --orange-brown: #b56422;
  --true-blue: #096191;
  --sea-green: #3d838b;
  --beige: #ebd8ae;
  --dark-green: #163235;
  --medium-green: #106967;
  --turquoise-bright: #32bfda;
  --gold-beige: #efca7c;
  --forest-green: #325343;
  --cinnabar-background: #F67280;
  --lilac-background: #C06C84;
  --purple-background: #6C5B7B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* below looks really cool but maybe not for this app */
  /* background: linear-gradient(to right, var(--dark-green), var(--dark-navy), var(--dark-green)); */
  background-color: var(--background-deep);

}
main {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 1;
  bottom: 1;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--gold-beige);
  max-width: fit-content;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 0.5rem;
}
nav > ul,
nav > li {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 0;
  margin: 0.5rem;
}
a {
  text-decoration: none;
  font-size: 1.35rem;
  color: var(--cinnabar-background);
}

.title-text {
  color:aliceblue
}
.button-text {
  background-color: var(--purple-background);
  color: mintcream;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 0.25rem;
}
/* LOG HISTORY PAGE */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
}
.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.35rem;
  max-width: 15rem;
  min-height: 12rem;
  padding: 0.5rem;
  background-color: var(--true-blue);
  border-radius: 10%;
}
.card-detail {
  font-family: "Quicksand", Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color:mintcream;
}
/* EMOJI class definitions */
.history-mood {
  vertical-align: middle;
  font-size: 1.5rem;
}
/* NEW PAGE */
input,
form {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-width: 40rem;
  width: 100%;
  text-align: center;
}
input {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}
textarea {
  width: 100%;
  height: 5rem;
  text-overflow: ellipsis;
  resize: none;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.25rem;
}
/* fixed my issue with time PM/AM cutting off */
input[type="time"] {
  letter-spacing: 0.15rem;
}
input[type="submit"] {
  letter-spacing: 0.15rem;
  margin: 0.25rem;
  background-color: var(--orange-brown);
  font-size: 1.15rem;
  width: fit-content;
  transition: 0.7s all linear;
}
input[type="submit"]:hover {
  background-color: var(--beige);
}
.new-form {
  min-width: 35rem;
}

/* emojis stuff! I am super proud of this CSS */
.radio-buttons-container {
  display: flex;
  flex-flow: row;
  /* letter-spacing: 2rem; */
  justify-content: space-evenly;
  align-items: center;
}
.emoji-button {
  font-size: 2.5rem;
  overflow: hidden;
}
.choice label span {
  display: block;
  padding: 0 1rem;
  opacity: 0.5;
  transition: 0.4s all linear;
}
.choice label span:hover {
  scale: 150%;
} 
.choice label input {
  display: none;
  background-color: white !important;
}
.mood1 input:checked + span {
  background-color: tomato;
  opacity: 1;
  border-radius: 50%;
}
.mood2 input:checked + span {
  background-color: var(--purple-background);
  opacity: 1;
  border-radius: 50%;
}
.mood3 input:checked + span {
  background-color: var(--orange-brown);
  opacity: 1;
  border-radius: 50%;
}
.mood4 input:checked + span {
  background-color: var(--true-blue);
  opacity: 1;
  border-radius: 50%;
}
.mood5 input:checked + span {
  background-color: var(--turquoise-bright);
  opacity: 1;
  border-radius: 50%;
}

/* CIRCLES ON MAIN PAGE */
.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-outer {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3rem var(--lilac-background), inset 0 0 0 80px var(--purple-background);
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  transition: 0.7s all linear;
}
.index-link,
#home-1,
#home-2 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: lemonchiffon;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all linear;
}
.circle-outer:hover {
  box-shadow: inset 0 0 0 3rem var(--orange-brown), inset 0 0 0 80px var(--sea-green);
  background-color: var(--true-blue);
}
#home-1:hover {
  background-color: var(--cinnabar-background);
  color: white;
}
#home-2:hover {
  background-color: var(--cinnabar-background);
  color: white;
}
